.about-us {
  padding-top         : rem-calc(95);
  padding-bottom      : rem-calc(40);
  box-shadow          : rem-calc(0 5px 38px) rgba(0, 0, 0, 0.52);
  background-color    : #f1f1f1;
  background-image    : url(../img/about_bg.png);
  background-position : center bottom;
  background-repeat   : no-repeat;
  @include breakpoint(medium up) {
    background-size : auto 100%;
  }

  &__title {
    color         : #fe000b;
    font-size     : rem-calc(48);
    line-height   : rem-calc(48);
    margin-bottom : rem-calc(3);
  }

  &__desc {
    color       : #464646;
    font-size   : rem-calc(16);
    line-height : rem-calc(18);
  }

  &__image {
    width           : rem-calc(75);
    height          : rem-calc(70);
    padding-top     : rem-calc(7);
    display         : flex;
    flex-flow       : column nowrap;
    justify-content : flex-start;
    align-items     : center;
  }

  &__card {
    margin         : 0 auto;
    padding-bottom : rem-calc(52);
    width          : 100%;
    min-height     : rem-calc(80);
    max-width      : rem-calc(400);
    display        : flex;
    flex-flow      : row wrap;
  }

  &__cell {
    flex         : 1 1 50%;
    padding-left : rem-calc(13);
  }

  @include breakpoint(large up) {
    .row .column {
      &:nth-child(3n + 2) .about-us__card { padding-left : rem-calc(34); }
      &:nth-child(3n + 3) .about-us__card { padding-left : rem-calc(69); }
    }
  }
}

