.footer {
  background-color : #3a3d3f;
  color            : #ffffff;
  padding          : rem-calc(40 0);
  a {
    text-decoration : none;
    color           : #fff;
    &:hover { text-decoration : underline; }
  }
  &__copyright {
    .text-up-size {
      font-size : rem-calc(15);
      @include breakpoint(medium up) { font-size : rem-calc(16); }
    }
    font-size     : rem-calc(13);
    line-height   : rem-calc(18);
    margin-bottom : rem-calc(30);
    @include breakpoint(medium up) { margin-bottom : 0; }
  }
  &__contacts {
    font-size   : rem-calc(13);
    line-height : rem-calc(16);
    @include breakpoint(medium up) {
      font-size   : rem-calc(16);
      line-height : rem-calc(24);
    }
  }
}