.header {
  @include breakpoint(large up) {
    position   : fixed;
    box-shadow : 0 5px 35px rgba(0, 0, 0, 0.75);
  }
  position         : relative;
  background-color : #3a3d3f;
  top              : 0;
  left             : 0;
  width            : 100%;
  z-index          : 999;

  .column {
    @include breakpoint(small only) {
      padding-left  : 0;
      padding-right : 0;
    }
  }

  &__logo {
    font-size        : 0;
    float            : left;
    padding          : rem-calc(24 16 25 12);
    @include breakpoint(medium up) {
      padding-top    : rem-calc(25);
      padding-bottom : rem-calc(26);
    }
    background-color : #fe000b;
  }

  &__nav {
    overflow : hidden;

    ul { margin : 0; font-size : 0; }

    li {
      vertical-align : top;
      @include breakpoint(medium up) {
        display : inline-block;
      }
    }
    a {
      font-size   : rem-calc(14);
      line-height : rem-calc(16);
      color       : #fff;
      padding     : rem-calc(7 22 6);
      @include breakpoint(medium up) {
        padding-top    : rem-calc(36);
        padding-bottom : rem-calc(35);
        font-size      : rem-calc(16);
        line-height    : rem-calc(18);
      }
      display     : block;
      &.is-active {
        background-color : rgba(0, 0, 0, .48);
      }
    }
  }

  &::after {
    position            : absolute;
    content             : '';
    left                : 0;
    bottom              : rem-calc(-43);
    right               : 0;
    background-image    : url(../img/garland.png);
    background-size     : auto 100%;
    background-position : center center;
    height              : rem-calc(71);
    pointer-events      : none;
    transition          : ease-in-out 1s;
  }

  &--garland-light {
    &::after {
      opacity : .55;
    }
  }
}