.icon {
  display  : inline-block;
  position : relative;
  width    : 100%;
  height   : 100%;

  &--cup {
    @include sprite($icon-cup);
  }

  &--gear {
    @include sprite($icon-gear);
  }

  &--sandclock {
    @include sprite($icon-sandclock);
    margin-top : rem-calc(3);
  }

  &--comp {
    @include sprite($icon-comp);
    margin-left : rem-calc(-2);
  }

  &--services {
    @include sprite($icon-services);
  }

  &--partners {
    @include sprite($icon-partners);
    margin-left : rem-calc(-4);
    margin-top  : rem-calc(-3);
  }

  &--shape {
    @include sprite($icon-shape);
  }

  &--server {
    @include sprite($icon-server);
  }

  &--lock {
    @include sprite($icon-lock);
  }

  &--network {
    @include sprite($icon-network);
  }

  &--rotate {
    @include sprite($icon-rotate);
  }

  &--store {
    @include sprite($icon-store);
  }

  &--onedrive {
    @include sprite($icon-onedrive);
  }

  &--technology {
    @include sprite($icon-technology);
  }

  &--compuer {
    @include sprite($icon-computer);
  }

  &--ink {
    @include sprite($icon-ink);
  }

  &--squares {
    @include sprite($icon-squares);
  }

  &--edge {
    @include sprite($icon-edge);
  }

  &--expand {
    @include sprite($icon-expand);
  }

  &-triangle {
    @include sprite($icon-triangle);
  }

  &-logo {
    @include sprite($icon-header-logo);
  }

  &--gift {
    @include sprite($icon-gift);
    margin-left   : rem-calc(8);
    margin-bottom : rem-calc(-1);
  }

  &--sock {
    @include sprite($icon-sock);
  }
}