.iru {
  box-shadow          : inset 0 rem-calc(5) rem-calc(202) rgba(0, 0, 0, 0.75); //рем кальк так ибо ругается дебаггер
  background          : url("../img/iru__bg.jpg") no-repeat;
  background-size     : cover;
  background-color    : black;
  background-position : 25% center;
  @include breakpoint(large up) {
    background-position : -50px center;
  }
  &__container {
    padding-top     : rem-calc(103);
    padding-bottom  : rem-calc(70);
    display         : flex;
    justify-content : center;

    @include breakpoint(medium up) {
      min-height      : rem-calc(506);
      justify-content : flex-end;
    }
  }

  &__cell {
    @include breakpoint(medium up) {
      max-width : rem-calc(683);
      width     : 100%;
      flex      : 1 0 50%;
    }
  }

  &__desc {
    text-shadow : 0 5px 64px rgba(0, 0, 0, 0.86);
    color       : #ffffff;
    font-size   : rem-calc(16);
    line-height : rem-calc(18);

    p {
      margin-bottom : rem-calc(18);
    }
  }

  &__button {
    padding-top : rem-calc(17);
    margin      : 0 auto;
    max-width   : rem-calc(290);

    @include breakpoint(medium up) {
      margin : 0;
    }

    .button {
      overflow : visible;
    }
    span {
      position : relative;

      .icon {
        position : absolute;
        right    : rem-calc(-14);
        bottom   : rem-calc(-55);
      }
    }
  }

}