$zest: #3a3d3f;
#outdated-browser {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $zest;
  z-index: 99999;
  color: #fff;
  text-align: center;
  .inset {
    max-width: 980px;
    margin: 0 auto;
  }
  .title {
    color: #fff;
    padding: 20px;
    font-size: 30px;
  }
  .subtitle {
    padding: 0 20px 20px 20px;
  }
  ul {
    padding: 0;
  }
  .btn {
    margin-bottom: 20px;
  }
  .browser span {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
    background: transparent url("../img/browsers-bg.png") no-repeat;
    background-size: auto 200px;
  }
  #opera {
    span {
      background-position: -400px 0;
    }
    &:hover {
      span {
        background-position: -400px -100px;
      }
    }
  }
  #safari {
    span {
      background-position: -300px 0;
    }
    &:hover {
      span {
        background-position: -300px -100px;
      }
    }
  }
  #edge {
    span {
      background-position: -200px 0;
    }
    &:hover {
      span {
        background-position: -200px -100px;
      }
    }
  }
  #firefox {
    span {
      background-position: -100px 0;
    }
    &:hover {
      span {
        background-position: -100px -100px;
      }
    }
  }
  #chrome {
    span {
      background-position: 0 0;
    }
    &:hover {
      span {
        background-position: 0 -100px;
      }
    }
  }
  table {
    &, thead, tbody, td, th, tr {
      background: none;
      border: none;
      text-align: center;
      color: #fff;
    }
  }
  .available {
    width: 100%;
    text-align: center;
    font-size: 14px;
    ul {
      margin: 0;
      li {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        text-indent: -5555px;
        text-align: left;
        background: transparent url("../img/operatingsystems-bg.png") no-repeat;
        background-size: auto 25px;
        &.windows {
          background-position: 0 0;
        }
        &.mac {
          background-position: -25px 0;
        }
        &.linux {
          background-position: -50px 0;
        }
      }
    }
  }
  .button {
    background-color: #f4ffcd;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    line-height: 1;
    padding: 1em 2em;
    margin-bottom: 20px;
    text-shadow: none;
    &:hover {
      background-color: #dae4b7;
    }
  }
  .table { margin: 0 auto; }
}