.processor {
  overflow: hidden;
  background-color: #f1f1f1;
  min-height: rem-calc(660);

  &__container {
    position: relative;
    z-index: 1;
    padding-top: rem-calc(94);
    padding-bottom: rem-calc(82);

    &::after {
      display: inline-block;
      position: absolute;
      z-index: -1;
      content: "";
      height: rem-calc(813);
      width: rem-calc(1240);
      background: url("../img/processor__intel.png") no-repeat right top;
      right: rem-calc(-290);
      top: rem-calc(-9);
      @include breakpoint(small only) {
        width: 140%;
        padding-top: 65%;
        height: auto;
        background-size: cover;
        right: -20%;
        top: rem-calc(180);
      }
    }
  }

  &__title {
    color: #464646;
    font-size: rem-calc(48);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #0079db;
    font-size: rem-calc(24);
    line-height: rem-calc(30);
  }

  &__list {
    list-style: none;
    padding-top: rem-calc(44);
    padding-left: rem-calc(48);
    margin: 0;

    li {
      position: relative;
      margin-bottom: rem-calc(20);
      color: #464646;
      font-size: rem-calc(16);
      line-height: rem-calc(19);

      &::after {
        position: absolute;
        display: inline-block;
        left: rem-calc(-48);
      }
    }
  }

  &__icon-clock {
    &::after {
      content: "";
      @include sprite($icon-proc-clock);
      top: rem-calc(4);
    }
  }

  &__icon-security {
    &::after {
      content: "";
      @include sprite($icon-proc-security);
      top: rem-calc(3);
    }
  }

  &__icon-shopping {
    &::after {
      content: "";
      @include sprite($icon-proc-shopping);
      top: rem-calc(4);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem-calc(20px 20px 40px);

    img {
      @include breakpoint(medium up) { margin: rem-calc(-11px -83px 0 0); padding: 0; }
      @include breakpoint(xlarge up) { max-width: none; }
    }
  }

  &__notation {
    padding-left: 0;
    list-style: none;
    color: #464646;
    font-size: rem-calc(12);
    line-height: rem-calc(14);

    p {
      margin-bottom: rem-calc(30);
      &:last-child { margin-bottom: 0; }
    }
  }

  &__toggler {
    font-size: rem-calc(16);
    text-decoration: underline;
    position: relative;
    outline: none;
    color: #464646;
    margin-bottom: rem-calc(15);
    cursor: pointer;
    .icon {
      position: absolute;
      right: rem-calc(-17);
      top: rem-calc(6);
      transform: rotate(180deg);
      transition: transform ease-in-out .2s;
    }

    &.open .icon {
      transform: rotate(0deg);
    }
    &:hover { text-decoration: none; }
  }

  &__toggle-wrap {
    padding: rem-calc(4 20 0);
    @include breakpoint(large up) {
      padding-left: rem-calc(49);
      padding-right: rem-calc(49);
    }
  }
}