.program {
  width           : 100%;
  background      : url("../img/program__bg.jpg") no-repeat right top;
  background-size : cover;

  &__container {
    z-index  : 1;
    overflow : hidden;
    position : relative;
    width    : 100%;

    @include breakpoint(large up) { min-height : rem-calc(818); }

    .row {
      min-height : inherit;
    }
  }

  &__title {
    padding-top    : rem-calc(50);
    @include breakpoint(large up) {
      padding-top : rem-calc(269);
    }
    color          : white;
    text-shadow    : #{rem-calc(0 5px 35px)} #000000;
    text-transform : uppercase;

    h1 {
      line-height   : 1em;
      margin-bottom : rem-calc(14);
    }
  }

  &__desc {
    color         : white;
    font-size     : rem-calc(16);
    line-height   : rem-calc(18);
    margin-bottom : rem-calc(18);

    p {
      margin-bottom : rem-calc(30);
      &:last-child { margin-bottom : 0; }
    }
  }

  &__terms {
    margin-right     : rem-calc(-15);
    margin-left      : rem-calc(-15);
    padding          : rem-calc(15);
    overflow         : hidden;
    &::before {
      position          : absolute;
      content           : '';
      background-image  : url(../img/programm__toys.png);
      background-repeat : no-repeat;
      background-size   : 100%;
      left              : 50%;
      top               : 50%;
      width             : rem-calc(358px);
      height            : rem-calc(258px);
      transform         : translate(-50%, -50%);
      z-index           : -1;
    }
    @include breakpoint(medium up) {
      &::before {
        top       : auto;
        bottom    : rem-calc(40);
        transform : translateX(-50%);
      }
    }
    @include breakpoint(large up) {
      display         : flex;
      flex-direction  : column;
      justify-content : center;
      margin-left     : rem-calc(-39);
      margin-right    : rem-calc(-22);
      padding         : rem-calc(50 40 50 50);
      position        : relative;
      &::before {
        bottom      : auto;
        top         : rem-calc(87);
        margin-left : rem-calc(9);
      }
    }
    position         : relative;
    height           : 100%;
    box-shadow       : rem-calc(0 5px 57px) #000000;
    background-color : #0079db;
    opacity          : 0.86;

    &-title {
      text-shadow   : #{rem-calc(0 5px 68px)} #000000;
      color         : #ffffff;
      font-size     : rem-calc(24);
      margin-bottom : rem-calc(6);
      @include breakpoint(large up) {
        margin-top : rem-calc(121);
      }
    }

    &-desc {
      font-size   : rem-calc(16);
      line-height : rem-calc(18);
      color       : #ffffff;

      p {
        margin-bottom : rem-calc(20);
      }
    }

  }

  &__button {
    @include breakpoint(medium up) { max-width : rem-calc(314); }
    padding-bottom : rem-calc(50);
  }
}