.target {
  background-color    : #f1f1f1;
  padding-top         : rem-calc(50);
  overflow            : hidden;
  padding-bottom      : rem-calc(50);
  background-image    : url(../img/footer_bg.png);
  background-position : 75% bottom;
  background-repeat   : no-repeat;
  background-size     : 200% auto;
  @include breakpoint(medium up) {
    background-position : right bottom;
    background-size     : 100% auto;
  }
  @include breakpoint(large up) {
    background-position : center bottom;
  }
  @include breakpoint(large up) { padding-top : rem-calc(95); padding-bottom : rem-calc(102); }

  &__title {
    color       : #464646;
    font-size   : rem-calc(28);
    @include breakpoint(large up) {
      font-size : rem-calc(48);
    }
    font-weight : 700;
    line-height : 1em;
  }

  &__subtitle {
    color         : #0079db;
    font-size     : rem-calc(20);
    line-height   : rem-calc(22);
    margin-bottom : rem-calc(48);
    @include breakpoint(large up) {
      font-size   : rem-calc(24);
      line-height : rem-calc(30);
    }
  }

  &__form {
    margin-left  : auto;
    margin-right : auto;
    @include breakpoint(large up) {
      max-width : rem-calc(900);
      .row:first-child {
        transform : translateX(#{rem-calc(98)});
      }
    }
  }

  &__submit {
    padding-top : rem-calc(41);
    .button {
      @include breakpoint(large up) {
        padding-left  : 1.6em;
        padding-right : 1.6em;
      }
    }
  }
}