.windows-section {
  background       : url("../img/windows__bg_2.jpg") no-repeat left top;
  background-size  : cover;
  background-color : black;
  box-shadow       : inset 0 5px 202px rgba(0, 0, 0, 0.75);
  padding-top      : rem-calc(50);
  padding-bottom   : rem-calc(50);
  @include breakpoint(large up) {
    min-height     : rem-calc(777);
    padding-top    : rem-calc(108);
    padding-bottom : rem-calc(38);
  }
  &__logo-wrap {
    width     : rem-calc(397);
    max-width : 100%;
    @include breakpoint(medium up) {
      padding-left : rem-calc(10px 0 0 20px);
    }
  }
  &__logo {
    padding-top     : 15.115%;
    width           : 100%;
    background      : url("../img/windows-10-pro.png") no-repeat left top;
    background-size : 100% 100%;
  }

  &__subtitle {
    padding   : rem-calc(8 0);
    @include breakpoint(medium up) {
      padding-left  : rem-calc(31);
      padding-right : rem-calc(31);
    }
    font-size : rem-calc(16);
    color     : #ffffff;
  }

  &__list {
    list-style     : none;
    padding-left   : 0;
    padding-bottom : rem-calc(17);
    @include breakpoint(large up) { margin-left : rem-calc(35); }

    li {
      color        : #ffffff;
      position     : relative;
      padding-left : rem-calc(27);
      font-size    : rem-calc(16);
      line-height  : rem-calc(30);
      max-width    : rem-calc(300);

      &:first-child {
        margin-top : rem-calc(5);
      }
    }
  }
  &__list-title {
    color     : #ffffff;
    font-size : rem-calc(24);
    @include breakpoint(large up) { margin-left : rem-calc(35); }
  }

  &__icon {
    position : absolute;
    left     : 0;
    top      : rem-calc(7);
    display  : inline-block;
  }

  &__image {
    width     : rem-calc(605);
    max-width : 100%;
    @include breakpoint(large up) { margin-left : rem-calc(-16); }
    @include breakpoint(xlarge up) {
      img {
        max-width : none;
        width     : rem-calc(857);
        height    : rem-calc(570);
        margin    : rem-calc(-123px 0 0 -127px);
      }
    }
  }

  &__image-wrapper {
    @include breakpoint(large up) { padding-top : rem-calc(70); }
    height          : 100%;
    width           : 100%;
    display         : flex;
    justify-content : center;
    align-items     : flex-start;
  }
}