.button { box-shadow: 0 5px 40px rgba(0, 0, 0, 0.36); padding-top: 0.875em; padding-bottom: 0.875em; }
.button:hover, .button:focus {
  background-color: #0079db;
  &:before {
    opacity: 1;
  }
}
.button.large {
  font-size: rem-calc(24);
  font-weight: 700;
}
.button {
  overflow: hidden;
  position: relative;
  border: 0;
  span {
    z-index: 1;
    position: relative;
  }

  &:before {
    z-index: 0;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fe000b;
    border-radius: rem-calc(4);
    transition: ease-in-out .25s;
    display: block;
    opacity: 0;
  }
}
.checkbox-group { padding-top: rem-calc(8); }
.checkbox { margin-bottom: rem-calc(8); }
input[type=checkbox] { display: none; }
/* to hide the checkbox itself */

input[type=checkbox] + label {
  position: relative;
  padding-left: rem-calc(31);
  margin-left: 0;
}
input[type=checkbox] + label:before {
  position: absolute;
  left: rem-calc(5);
  top: rem-calc(11);
  display: inline-block;
  content: "";
  @include sprite($icon-check);
  opacity: 0;
  transition: ease-in-out .2s;
  transform: scale(.5) rotate(-45deg);
  z-index: 1;
}
input[type=checkbox] + label:after {
  position: absolute;
  content: '';
  left: 0;
  top: rem-calc(5);
  width: rem-calc(20);
  height: rem-calc(19);
  border-radius: rem-calc(3);
  background-color: #ffffff;
}
input[type=checkbox]:checked + label:before {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  height: rem-calc(34);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
  border-radius: rem-calc(3);
  background-color: #ffffff;
  border: 0;
  margin-bottom: rem-calc(10);
}
label {
  font-size: rem-calc(16);
  line-height: 1.9;
}
.as-label {
  @extend label;
}